<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<% if @user.avatar.url.nil? == false %>
	<p>
	  <strong>Avatar:</strong>
	  <%= image_tag @user.avatar.url %>
	</p>
<% end %>	

<p>
  <strong>Team:</strong>
  <%= @user.team_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
